$primary_color:hsl(193, 38%, 86%);
$secondary_color: hsl(150, 100%, 66%);
$grayish_blue: #313a49;
$dark_grayish_blue: #202632;

$font: 'Manrope', sans-serif;

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.container{
    margin: 20vh auto;
    width: 50%;
    min-height:30%;
   @include flex-column-center;
    
}

.root{
    width: 100%;
    height: 100%;
    align-self: center;
    margin:auto auto;
}

.Advice{
    min-width: 30vw;
    flex-shrink: 1;
    height: 40vh;
    @include flex-column-center;
    background-color: $grayish_blue;
    padding: 1.5rem 1.5rem;
    text-align: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.api{
    width:100%;
    //flex:1;
    font-family: $font;
    font-size: 1rem;
    padding-bottom: 1.5rem;
    font-weight: 700;
    .number{
        color:$secondary_color;
        font-size: 0.5em;
        text-transform: uppercase;
        padding: 1rem 0.5rem; 
        letter-spacing: 0.1em;
    }

    .adv{
        color:$primary_color;
        padding: 1rem 0.5rem;
        font-size: 1.9vw;
        height: 20vh;
    }
}

.divider{
   // flex:6;
    background-image: url(../images/pattern-divider-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    //background-size:cover;
    width:100%;
    min-width: 144px;
    min-height: 3rem;
    z-index: 2;
    margin-top:  -3rem;
    
}
    

.dice{
    min-width: 5vw;
    min-height:5vw;
    margin: auto auto;
    flex-shrink: 2;
    border-radius: 100%;
    margin-top: -1.25rem;
    z-index: 2;
    .button-dice{
        background-image: url(../images/icon-dice.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: $secondary_color;
        border-radius: 100%;
        min-width: 2.5rem;
        min-height: 2.5rem;
        border: none;
        //margin-top: -3vw;
        z-index: 2;
        &:hover{
            box-shadow: 0 0 25px $secondary_color;
        }
    }
}


@media (max-width: 375px) {
    
    .api .adv {
        font-size: 18px;
    }
    
}

