$primary_color:hsl(193, 38%, 86%);
$secondary_color: hsl(150, 100%, 66%);
$grayish_blue: #313a49;
$dark_grayish_blue: #202632;

$font: 'Manrope', sans-serif;

*{
    margin: 0;
    padding: 0;
    font-size: 28px;
}

html{
    box-sizing: border-box;
}

body{
    background-color: $dark_grayish_blue;
    width: 100vw;
    height: 100vh;
}